img {
  max-width: 600px
  max-height: auto;
  margin-bottom: 20px;
  float: left;
}

.role-type {
  font-style: italic;
}

.panel-title {
  color: #5394B9;
  font-size: 20px;
}

.well h2 {
  color: #5394B9;
  font-size: 20px;
}
